<% if @name %>
  <h1> My name is <%= @name %></h1>
<% end %>

<% if @name.nil? %>
  <form action='/named_cat'>
    <input type='text', name='name'>
    <input type='submit', value='Submit'>
  </form>
<% end %>


<img src='https://i.imgur.com/jFaSxym.png' style='border: 3px dashed red'>

